{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "standard"
  ],
  "plugins": [
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-void": "off",
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"]
  },
  "ignorePatterns": ["packages/*/dist/*", "packages/*/types/*", "*.html", "*.vue"],
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "plugins": [
        "jest"
      ],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.mts",
        "*.cts"
      ],
      "parserOptions": {
        "project": "packages/*/tsconfig.json",
        "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
      },
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "rules": {
        "comma-dangle": "off",
        "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
          }
        ]
      }
    }
  ]
}
